nav li {
    text-decoration: line-through;
}
#works ul {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    padding: 0 0 20px 20px;
}
li {
    margin: 5px;
}
picture {
    height: 0;
    left: 50%;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 15vw);
    transform: translate(-50%);
    width: 30%;
}
picture img, picture source {
    width: 30vw;
}
li:hover picture {
    height: 30vw;
    transition: height .4s ease-in-out;
}
@media (max-aspect-ratio: 1/1) {
    picture {
        display: flex;
        left: 0;
        top: 0;
        transform: none;
        width: 100vw;
    }
    picture img, picture source {
        height: calc(100vh - 200px);
        object-fit: cover;
        width:  100%;
    }
    li:hover picture {
        height: calc(100vh - 200px);
    }
}